#content
{
	width: 1250px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}

#vertical-breadcrumb
{
	float: left;
	padding: 10px;
	background-color: blue;
	width: 175px;
}

#search-results
{
	background-color: green;
	margin-left: 215px;
}

/*
#search-results,
#vertical-breadcrumb
{
	display: block;
	float: left;
	text-align: left;
	margin: 1em;
}

#search-results
{
	background-color: red;
	max-width: 1200px;
}

*/
@media (max-width:1280px)
{
	#content
	{
		background-color: purple;
		width:auto;
		margin:0;
	}

	aside
	{
		margin-left: 10px;
	}
}

@media (max-width:1024px)
{
	#content
	{
		background-color: yellow;
		width:auto;
		margin:0;
	}

	aside
	{
		margin-left: 10px;
	}
}

@media (max-width:800px)
{
	#content
	{
		background-color: red;
		width:auto;
		margin:0;
	}

	aside
	{
		margin-left: 10px;
	}
}

@media (max-width:640px)
{
	#content
	{
		background-color: teal;
		width:auto;
		margin:0;
	}

	#search-results
	{
		margin: 0px;
	}

	#vertical-breadcrumb
	{
		margin-left: 10px;
		display: none;
	}
}
