@import url("medias.css");

#content
{
	width: 1225px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	overflow: hidden;
}

#vertical-breadcrumb,
#advanced-search,
#search-results,
#driving-table,
#media,
#content > div,
#content > form,
#content > aside
{
	background-color: #e6e6e6;
	padding: 10px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#vertical-breadcrumb,
#content > aside
{
	float: left;
	width: 175px;
}

#vertical-breadcrumb ul,
#content > aside ul
{
	list-style-type: none;
}

#vertical-breadcrumb ul li,
#content > aside ul li
{
	margin-left: 0.5em;
}

#vertical-breadcrumb span.showMore
{
	cursor: pointer;
}

#search-results,
#content aside + div
{
	margin-left: 215px;
}

form#driving-table div
{
	overflow: auto;
	text-align: center;
}

form#driving-table div table
{
	margin: 0.5em;
}

form#driving-table table,
form#driving-table table tr,
form#driving-table table tr td,
form#driving-table table tr th
{
	border-style: solid;
	border-width: 0.15em;
	border-collapse: collapse;
	text-align: center;
}

form#driving-table table thead tr#new-row
{
	border-style: solid;
	border-width: 0.25em;
	margin-bottom: 2em;
}

form#driving-table table tr th#col_row_state,
form#driving-table table tr td[headers="col_row_state"],
form#driving-table table tr th#col_ID,
form#driving-table table tr td[headers="col_ID"]
{
	display: none;
}

th.header,
th.headerSortUp,
th.headerSortDown
{
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	font-weight: bold;
	padding-right: 20px;
}

th.header
{
	background-image: url(../images/icons/upAndDown.gif);
}

th.headerSortUp
{
	background-image: url(../images/icons/up.gif);
}

th.headerSortDown
{
	background-image: url(../images/icons/down.gif);
}

@media (max-width:1280px)
{
	#content
	{
		width:auto;
	}

	#content h2:after
	{
		content: " 1280x800";
	}
}

@media (max-width:1024px)
{
	#content
	{
		width:auto;
	}

	#content h2:after
	{
		content: " 1024x768";
	}
}

@media (max-width:800px)
{
	#content
	{
		width:auto;
	}

	#content h2:after
	{
		content: " 800x600";
	}
}

@media (max-width:640px)
{
	#content
	{
		width:auto;
	}

	#search-results
	{
		margin: 0;
	}

	#content h2:after
	{
		content: " 640x480";
	}

	#vertical-breadcrumb
	{
		display: none;
	}
}
