#content
{
	width: 1225px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}

#vertical-breadcrumb,
#search-results,
#driving-table
{
	background-color: #e6e6e6;
	padding: 10px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#vertical-breadcrumb
{
	float: left;
	width: 175px;
}

#vertical-breadcrumb ul
{
	list-style-type: none;
}

#search-results
{
	margin-left: 215px;
}

form#driving-table table,
form#driving-table table tr,
form#driving-table table tr td,
form#driving-table table tr th
{
	border-style: solid;
	border-width: 0.15em;
	border-collapse: collapse;
	text-align: center;
}

form#driving-table table thead tr#new-row
{
	border-style: solid;
	border-width: 0.25em;
	margin-bottom: 2em;
}

@media (max-width:1280px)
{
	#content
	{
		width:auto;
	}

	#search-results > h2:after
	{
		content: " 1280x800";
	}
}

@media (max-width:1024px)
{
	#content
	{
		width:auto;
	}

	#search-results > h2:after
	{
		content: " 1024x768";
	}
}

@media (max-width:800px)
{
	#content
	{
		width:auto;
	}

	#search-results > h2:after
	{
		content: " 800x600";
	}
}

@media (max-width:640px)
{
	#content
	{
		width:auto;
	}

	#search-results
	{
		margin: 0;
	}

	#search-results > h2:after
	{
		content: " 640x480";
	}

	#vertical-breadcrumb
	{
		display: none;
	}
}
