header,
nav,
section,
footer
{
	display: block;
}

html,
body,
h1,
p,
ul
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: white;
	font-family: Optima, "Trebuchet MS", Lucida, Arial, Geneva, Verdana, "Lucida Grande", Tahoma, Helvetica, sans-serif;
}

a,
span.buttonAdd,
span.buttonRemove
{
	text-decoration: none;
	color: #c52100;
}

a:hover,
span.buttonAdd:hover,
span.buttonRemove:hover
{
	text-decoration: underline;
	cursor: pointer;
}

p,
ul
{
	margin: 1em;
}

ul
{
	padding-left: 1.5em;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.2em #666;
}

h1
{
	font-size: 1.9em;
	margin: 0.5em;
}

h2
{
	font-size: 1.75em;
	margin: 0.5em;

}

h3
{
	font-size: 1.4em;
}

h4
{
	font-size: 1.2em;
	margin-top: 0.75em;
	margin-bottom: 0.2em;
}

h5
{
	font-size: 1.15em;
}

h6
{
	font-size: 1.1em;
}

.left,
.right
{
	margin: 1em;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

table,
tr,
td,
th
{
	border-style: solid;
	border-width: 0.1em;
	border-collapse: collapse;
}

td,
th
{
	padding: 0.25em;
}

label
{
	display: inline-block;
	width: 8em;
	vertical-align: top;
}

label:after
{
	content: " :";
}

input[type="text"],
textarea
{
	font-family: inherit;
	font-size: inherit;
	border: 1px gray solid;
	width: 20em;
}

input:invalid
{
	border-right: 0.5em solid red;
}

input:required
{
	border-right: 0.5em solid orange;
}

input:valid
{
	border: 1px gray solid;
}

