header,
nav,
section,
footer
{
	display: block;
}

html,
body,
h1,
p,
ul
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: white;
}

a
{
	text-decoration: none;
	color: yellow;
}

a:hover
{
	text-decoration: underline;
}

p
{
	margin: 1em;
}
