header
{
	text-align: center;
	background-color: black;
}

header h1,
header img#logoCegep
{
	display: inline-block;
	vertical-align: middle;
	margin: 0.2em;
}

header h1,
header h1 a
{
	color: white;
	text-align: right;
}

header h1
{
	width: 15em;
}

header h1 a
{
}

header h1 span
{
	display: block;
	color: gray;
	font-size: 0.8em;
}

header img#logoCegep
{
	width: 9em;
}

header nav
{
}

header nav ul li
{
	display: inline;
}

header nav ul li a
{
	display: inline-block;
	background-color: white;
	background-color: rgba(255,255,255,0.4);
	margin-left: 0.15em;
	margin-right: 0.15em;
	min-width: 6em;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

header nav ul li a:hover,
header nav ul li a:focus
{
	background: rgba(255,255,255,0.6);
}
