#media #mediaInformations
{
	display: inline-block;
	vertical-align: top;
	width: 20em;
	text-align: center;
}

#media #mediaInformations img
{
	max-width: 19em;
}

#media .detailsLevel1
{
	display: inline-block;
}

#media .detailsLevel2
{
	margin-top: 1em;
}

#media p
{
	margin: 0;
	margin-top: 0.5em;
}

#media p:first-child
{
	margin-top: 0;
}

#media label
{
	display: inline-block;
	width: 13em;
	vertical-align: top;
}

#media label:after
{
	content: " :";
}

#media input,
#media textarea
{
	font-family: inherit;
	font-size: inherit;
	border: 1px gray solid;
	width: 20em;
}

#media textarea
{
	width: 35em;
	height: 10em;
}

#media input:invalid
{
	border-right: 0.5em solid red;
}

#media input:required
{
	border-right: 0.5em solid orange;
}

#media input:valid
{
	border-right: 0.5em solid green;
}

#media input:disabled
{
	background-color:inherit;
	color: inherit;
	border-style: none;
}

#media .detailsLevel2
{
	background-color: gray;
}

#media .detailsLevel2Summary,
#media .detailsLevel3Summary
{
	cursor: pointer;
}

#media .detailsLevel2Summary > [class^="summary"]
{
	display: inline-block;
	overflow: hidden;
	background-color: red;
	padding: 0.1em 0.25em;
	width: 3em;
}

#media .detailsLevel2Summary > .summaryPosition
{
	width: 1.5em;
}

#media .detailsLevel2Summary > .summaryTitle
{
	background-color: orange;
	width: 25em;
}

#media .detailsLevel2 .detailsLevel3
{
	display: block;
	background-color: red;
	margin-left: 13em;
}

#media .detailsLevel2 .detailsLevel3 .rowLevel3
{
	display: block;
	background-color: red;
}

#media .detailsLevel2 .detailsLevel3 .rowLevel3:last-of-type
{
	background-color: orange;
	display: inline;
}

#media .detailsLevel2 .detailsLevel3 .rowLevel3 select,
#media .detailsLevel2 .detailsLevel3 .rowLevel3 input
{
	margin: 0.1em;
}
