.mediaTitle
{
margin-top:0em;
margin-bottom:0.5em;
}



td
{
border-bottom-style:solid;
border-bottom-width:1px;
border-collapse:collapse;
}

#resultTable
{
border-collapse : collapse;
}

span.label
{
width:150px;
margin-right: 10px;
float:left;
}

td.mediaPicture
{
width:100px;
}
td.mediaInformations
{
padding-top:30px;

}

img.resultPicture
{
padding:0px;
width:100px;
padding-bottom:10px;
}
img.mediaTypePicture
{
width:100px;
}
#mediaTableResult
{

}
