.mediaTitle
{
margin-top:0em;
margin-bottom:0.5em;
}



tr.mediaRowResult
{
border-bottom:solid 5px;
border-color:red;
}


span.label
{
width:150px;
margin-right: 10px;
float:left;
}

td.mediaPicture
{
width:100px;
}
td.mediaInformations
{
padding-top:30px;

}

img.resultPicture
{
padding:0px;
width:77px;
padding-bottom:10px;
}

#mediaTableResult
{

}
