.mediaTitle
{
margin-top:0em;
margin-bottom:0.5em;
}

a.reserveLink
{
	background-color:#DBD9D9;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	padding-top:0.3em;
	padding-bottom:0.2em;
	padding-left:0.3em;
	padding-right:0.5em;
	background-image:url('../images/cart.png');
	background-repeat:no-repeat;
	text-align:left;
	font-size:0.8em;
	background-position : 9px;
	background-repeat : no-repeat;
	padding-left : 45px;
	border-style:solid;
	border-width:1px;
	border-color:#C1C1C1;

}

a.reserveLink:hover
{
text-decoration:none;
}

tr.mediaRowResult td
{
border-bottom-style:solid;
border-bottom-width:2px;
border-collapse:collapse;
border-color:gray;
padding-bottom:1em;
}

#resultTable
{
width:100%;
border-collapse : collapse;
}

span.label
{
width:170px;
margin-right: 10px;
float:left;
}


img.resultPicture
{
padding:0px;
width:150px;
margin-left:auto;
margin-right:auto;
padding-bottom:10px;
display:block;
}

img.mediaTypePicture
{
width:100px;
margin-left:auto;
margin-right:auto;
display:block;
}
#mediaTableResult
{

}

tr.mediaRowResult td p
{
margin-top:0.5em;
margin-bottom:0.5em;
}

tr.mediaRowResult td p:last-child
{
margin-bottom:1em;
}

tr.mediaRowResult td:first-child
{
width:20%;
}

tr.mediaRowResult
{
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(255,255,255) 21%,
		#EEEEEE 81%
	);
}
